
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.product_container{
   /* border: 1px solid red; */
   /* width: 100%; */
   padding: 10px;
   /* display: grid; 
   grid-template-columns: repeat(auto, 400px); */
 
}

.prod_items{
    border: 1px solid rgb(187, 26, 26);
    padding: 10px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
 

}

.product_container img{
    width: 100%;
}

.btn{
    display: flex;
    gap: 5px;
    justify-content: center;
}

