
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.info  img{
    width: 200px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 10px;
}

.info h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.prirate h5{
    background-color: black;
    color: white;
    border-radius: 50%;
    width: max-content;
    padding: 8px;

}
.label{
    background-color: yellowgreen;
    width: 80px;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 0px;
    border-radius: 50px 0px 0px 0px;
   

}



