

.ekart-search{
   margin-top: 15px;
   width: 400px;
   /* box-shadow: rgba(131, 126, 126, 0.9) 1px 1px 4px 1px; */

}

button{
    cursor: pointer;
}

.ekart-search input{
    padding: 5px;
    border-radius: 4px;
    width: 300px;
}


.btn{
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
}