
<div class="producDetails">
    <div class="imgg">
        <img src= {{detai_prod.image}} alt="">
    </div>

    <h1>title : {{detai_prod.title}} </h1>

<div class="gbc">
    <span>MEN</span>
    <span>NIKE</span>
    <span>SPORTS</span>
</div>

<div class="price">
    <b>Price each pair:</b>
    <span>${{detai_prod.price}}</span> (includes of all taxes)
</div>

<p>category : {{detai_prod.category}}</p>
<p>description: {{detai_prod.description}}</p>
<p>Rating: {{detai_prod.rating.rate}}</p>

</div>