
<!-- <div class="saerbar">
    <input [(ngModel)] = "search_result"  type="text" class="searchhbar">
    <button [ngClass]="{'btn':true, 'secr_btn':search_result, 'btn_disabled':!search_result}" [disabled] = "!search_result">Search</button>
</div>
<p  *ngIf="search_result != '+' " >search result for : {{search_result}} </p> 
 -->

<!-- filter components -->
<app-filter class="filterr" (filterradiobtnchanged) = "onfilterchnage($event)" [all]="totalprodCount"  [inStock]="totalproducinStock"  [outofStock]="prodssoutofstoc"  ></app-filter>


<div class="container">



  <ng-container   *ngFor="let ele of products"  >

    <app-productss class="prod_items"  (click) = "seleted_prod = ele"    [prod]="ele" *ngIf="slectfilterbtninparent === 'all' || ele.in_inventory.toString() === slectfilterbtninparent"  ></app-productss>
  </ng-container>
<!-- passa data from parent to child we can use custom property binding -->
</div>
