*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.filter_container{
    width: 400px;
    padding: 10px;
    margin: 5px 0px 10px 0px;
    box-shadow: rgba(224, 224, 224, 0.9) 1px 1px 4px 1px;
    transition: 0.5s;
    display: flex;
    gap: 10px;
    position: absolute;
    top: 70px;
    left: 600px;
}

